* {
    box-sizing: border-box;
}
  
body {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
      height: 100%;
}
  
.heading-h2 {
    color: #000;
    text-align: center;
    margin-top: 10vh;
}
  
.heading-h3 {
    color: #000;
    text-align: center;
}
  
.page-link {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    display: block;
}

/* Message block starts */
#message {
    font-size: 12px;
    color: #000;
    text-align: center;
}
  
#message a, #message a:active {
    color: #000;
}
/* Message block ends */

/* Navbar section starts */

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    z-index: 999;
}
  
.nav-bar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-bar #icon {
    height: 50px;
}
  
.nav-bar a.active {
    color: #000; /* #050DB0 */
    padding: 14px 16px;
}
  
.nav-bar .icon {
    display: none;
}
  
@media screen and (max-width: 600px) {
    .nav-bar a:not(:first-child) {display: none;}
    .nav-bar a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .nav-bar.responsive {position: fixed;}
    .nav-bar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-bar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/* Navbar section ends */

/* Home page header starts */

#home {
    margin-top: 46.4px;
    background: url('images/vidhana_souda_bengaluru.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

#home p {
    padding-top: 62vh;
    min-height: 40vh;
    margin-left: 10px;
    text-align: left;
    color: #fff;
    font-size: 10px;
}

@media(max-width:800px) {
    #home p {
        padding-top: 70vh;
        min-height: 30vh;
    }
}

#home a {
    color: #fff;
}

/* Home page header ends */

/* about section starts */
.about {
    display: block;
    margin: auto;
    max-width: 90%;
    padding: 15px;
}

#about-img, #about-img img {
    width: 300px;
    float: left;
    margin-right: 10px;
    display: block;
}

#about-img img, #about-img figcaption {
    width: 50%;
}

#about-img figcaption {
    font-size: 10px;
}
.about p {
    text-align: justify;
}
  
/* about section ends */

#index-flex {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

#index-flex figure {
    max-width: 250px;
    padding: 20px;
    margin-top: 10px;
}

#index-flex img {
    max-width: 250px;
}

#index-flex figcaption {
    text-align: center;
    font-size: 12px;
}

#footer {
    background-color: #000;
    color: #fff;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}

#footer a {
    color: #fff;
}